.main {

    &-a {

        &-button {
            color: var(--NEU500, #252C33);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            display: flex;
            padding: 10px 30px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 15px;
            border: none;
            background: var(--PGO500, #D3AF37);
        }
    }
}