.contact {
    display: flex;
    gap: 97px;
    align-items: center;

    &-left {

        &-img {
            margin-bottom: -4px;
        }
    }

    &-right {

        &-media {

            &-h1 {
                color: #000;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &-info {
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding-top: 38px;

                &-div {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    &-p,
                    a {
                        color: var(--NEU500, #252C33);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        &-custom {
            padding-top: 50px;

            &-form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                %inputs {
                    width: 530px;
                    color: #616161;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 1px solid var(--NEU300, #A1B5C0);
                    background: #FFF;
                    padding: 8px 75px 8px 11px;
                    border-radius: 5px;
                    gap: 10px;
                    outline: none;
                }

                &-input {
                    height: 40px;
                    align-items: center;
                    @extend %inputs
                }

                &-message {
                    height: 199px;
                    align-items: flex-start;
                    resize: none;
                    @extend %inputs
                }

            }
        }
    }
}