.navbar {
    width: 100%;
    height: 75px;
    background: var(--NEU500, #252C33);

    .container {
        width: 90%;
        margin: auto;
    }

    .active {
        color: #F2DE87;
    }

    .button-active {
        color: var(--PGO600, #B69127);
        padding: 8.5px 28.5px;
        border: 2px solid var(--PGO600, #B69127);
        background: var(--NEU100, #FFF);
    }

    &-nav {
        display: flex;
        align-items: center;
        padding: 15px 0;
        justify-content: space-between;

        &-logo {
            &-h1 {
                color: var(--PGO500, #D3AF37);
                font-size: 26px;
                font-weight: 700;
                line-height: normal;
            }
        }

        &-menu {
            display: flex;
            gap: 60px;
            align-items: center;

            &-a {
                color: var(--PGO500, #D3AF37);
                font-size: 20px;
                font-weight: 600;
                transition: all 0.3s;

                &:hover {
                    color: var(--PGO600, #E6CA66);
                }
            }

            &-button {
                color: #000;
                font-size: 20px;
                font-weight: 600;
                padding: 10px 30px;
                border: none;
                border-radius: 15px;
                background: var(--PGO500, #D3AF37);
                cursor: pointer;

                &:hover {
                    color: var(--PGO600, #B69127);
                    padding: 8.5px 28.5px;
                    border: 2px solid var(--PGO600, #B69127);
                    background: var(--NEU100, #FFF);
                }
            }
        }
    }
}

.app_menu_icon {
    display: none;
}

.app_navbar {
    display: none;
    width: 390px;
    height: 100vh;
    background: var(--NEU500, #252C33);
    position: fixed;

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: self-start;
        margin: 50% auto;
        padding-left: 20px;

        &-a {
            color: var(--PGO500, #D3AF37);
            font-size: 20px;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 1070px) {
    .navbar {
        .container {
            width: 98%;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 960px) {
    .app_menu_icon {
        display: block;
    }

    .app_navbar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 10;
        left: 0;
        z-index: 9999;
        display: none;
    }

    .navbar-nav-menu {
        gap: 30px;
        align-items: center;

        &-a {
            display: none;
        }
    }

    .menu_active {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-nav-logo {
        display: none;
    }

    .navbar-nav-menu {
        width: 100%;
        gap: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
    }
}