.showroom {
    width: 100%;
    height: 100%;
    background-image: url("../../images/blog-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    &__context {
        max-width: 1200px;
        width: 100%;
        background-color: var(--white);
        margin: auto;
        padding: 16px;

        &-cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: self-start;
            row-gap: 30px;
            justify-content: space-between;
        }
    }
}