.blog {
    width: 100%;
    height: auto;
    background-image: url("../../images/BlogBackround.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    &-main {
        width: 1061px;
        height: auto;
        margin: auto;
        position: relative;
        background: var(--NEU100, #FFF);
        padding: 40px 32px;

        &-cards {
            display: flex;
            gap: 35px;
            align-items: self-start;
            padding-bottom: 44px;


            &-div {

                &-title {
                    color: var(--NEU500, #252C33);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                &-text {
                    color: var(--NEU500, #252C33);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }

                &-button {
                    color: var(--NEU500, #252C33);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    text-align: right;
                }
            }
        }

        &-line {
            width: 991px;
            margin: auto;
            border: 1px solid #252C33;
            margin-bottom: 40px;
        }
    }
}