@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Inter;
}

:root {
    --primary: rgb(211, 175, 55);
    --secondary: rgb(37, 44, 51);
    --white: rgba(255, 255, 255, 1);
    --black: rgb(0, 0, 0);
}


a {
    text-decoration: none;
}

button,
input,
label,
textarea,
a {
    cursor: pointer;
}